.build{
	margin-top: 20%;
	margin-left:10%;
}
.inp{
	width: 40%;
}
.form-pos{
	padding-top: 20px;
}
.inline{
	display: inline-block;
}
.but{
	margin-top: 3%;
	margin-left:42%;
}
.info{
	margin-left: 6%;
}